<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <!-- login servlets -->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <!-- Add a pair of following for each new controller -->
    <servlet>
        <servlet-name>GetAllThreadsController</servlet-name>
        <servlet-class>Controllers.GetAllThreadsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllThreadsController</servlet-name>
        <url-pattern>/GetAllThreads</url-pattern>
    </servlet-mapping>
    <!-- End of pair -->

    <servlet>
        <servlet-name>GetThreadByIdController</servlet-name>
        <servlet-class>Controllers.GetThreadByIdController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetThreadByIdController</servlet-name>
        <url-pattern>/GetThreadById</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteThreadController</servlet-name>
        <servlet-class>Controllers.DeleteThreadController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteThreadController</servlet-name>
        <url-pattern>/DeleteThread</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateThreadController</servlet-name>
        <servlet-class>Controllers.CreateThreadController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateThreadController</servlet-name>
        <url-pattern>/CreateThread</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateThreadController</servlet-name>
        <servlet-class>Controllers.UpdateThreadController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateThreadController</servlet-name>
        <url-pattern>/UpdateThread</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelController</servlet-name>
        <servlet-class>Controllers.CancelController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CancelController</servlet-name>
        <url-pattern>/Cancel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoToController</servlet-name>
        <servlet-class>Controllers.GoToController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GoToController</servlet-name>
        <url-pattern>/GoTo</url-pattern>
    </servlet-mapping>

    <!-- Error handling -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/GetAllThreads</location>
    </error-page>
</web-app>